.title {
  font-family: sans-serif;
  text-align: center;
}

.component_container {
  position: relative;
}

.main {
  display: grid;
  gap: 1em;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  border: none;
  font-size: 18px;
  padding: 20px;
  margin: 10px auto;
}

#parent {
  overflow: auto;
  margin: 0 auto
}

.draggable {
  transform: translate(0px 0px)!important;
}
